@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap');
@import "tailwindcss";

@custom-variant hover (&:hover);

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--font-header: "Overpass Mono", var(--font-geist-mono);
}

body {
	background: var(--background);
	color: var(--foreground);
}
